python-telegram-bot[job-queue]==21.10
gspread==6.1.4
google-auth==2.37.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
openai==1.59.3
python-dotenv==1.0.1
pytz==2024.2
httpx==0.28.1
Pillow==11.1.0
requests==2.32.3
